/* .wrapper{
    background-color: #f3f5f8;

}

.sidebar {
    height: 90vh;
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-left: -12px;
}

.scrollbar {
    max-height: 200px; 
    overflow-y: auto; 
  }

.img {
    background-image: url('https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 37px;
    width: 48px;
    margin-top: 20px;
    justify-content: center;
}
.icons{
    margin-top: 60px;
    color: black;
    font-size: 20px;
    margin-top: 50px;
}
.fa-house{
    margin-top: 50px; 
}
.fa-right-from-bracket{
    margin-top: 50px;
}
.fa-door-open{
    margin-top: 50px;
}
.fa-chart-bar{
    margin-top: 50px;
}


.cardContainer{
    margin-top: 6%;
}
.background{
    background-color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10px;
    margin-top: 3%;
}
.writingButton1{

}
.WritingButton{
} */

/* media-Quries */
/* @media (max-width: 1400px){
    .sidebar {
        width: 95%;
    }
}
@media (max-width: 1199px){
    .sidebar {
        width: 95%;
    }
    .img {
        height: 3vh;
        width: 100%;
    }
    .icons{
        margin-right: 20px;
    }
}
@media (max-width: 991px){
    .sidebar {
        width: 127%;
    }
}
@media (max-width: 767px){
    .sidebar {
        width: 200%;
    }
}
@media (max-width: 674px){
    .sidebar {
        width: 231%;
    }
}
@media (max-width: 618px){
    .sidebar {
        width: 253%;
    }
}
@media (max-width: 572px){
    .sidebar {
        width: 295%;
    }
}
@media (max-width: 500px){
    .sidebar {
        width: 370%;
    }
}
@media (max-width: 472px){
    .sidebar {
        width: 440%;
    }
} */

/* updated-code */
.wrapper {
    background: #f3f5f8;
}

.sideNav {
    width: 100%;
    height: 90vh;
    background: rgb(255, 255, 255);
}

.navIcon {
    font-size: 20px;
    margin-top: 30px;
}

.logo {
    height: 80px;
    width: 100%;
}

.icon {
    margin: 24px auto 0px auto;

}

.icon:hover {
    /* background-color: rgb(160, 193, 241); */
    color: blue;
}

.mainWrapper {
    height: 90vh;
}

.card {
    margin-top: 15%;
    border-radius: 20px;
    margin-bottom: 10%;
}

.main-content {
    background: rgb(219, 218, 218);
    padding: 2% 10px 2% 10px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 78px;
    height: 75px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(0, 64, 255) 75%, rgb(154 162 239) 0);
}

.bar::before {
    content: "95%";
}

.green {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 78px;
    height: 75px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(20 187 79) 75%, rgb(184, 239, 154) 0);
}

.green::before {
    content: "95%";
}

.yellow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 78px;
    height: 75px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(255, 204, 0) 75%, rgb(239, 213, 154) 0);
}

.yellow::before {
    content: "95%";
}


/* Media-Quries */
@media(max-width:1400px) {}

@media(max-width:1199px) {}

@media(max-width:991px) {}

@media(max-width:767px) {}

@media(max-width:576px) {}

/* Media-Quries */
/* updated-code */