<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                <div class="sidebar">
                    <div class="container-fluid">
                        <div class="mainIcon d-flex">
                            <div class="img rounded-circle">
                            </div>
                        </div>
                        <div class="icons ms-2">
                            <i class="fa-solid fa-house mt-1" role="button"></i>
                            <i class="fa-solid fa-door-open" role="button"></i>
                            <i class="fa-regular fa-chart-bar" role="button"></i>
                            <i class="fa-solid fa-house " role="button"></i>
                            <i class="fa-solid fa-house" role="button"></i>
                            <i class="fa-solid fa-house" role="button"></i>
                            <i class="fa-solid fa-house " role="button"></i>
                            <i class="fa-solid fa-house" role="button"></i>
                            <i class="fa-solid fa-right-from-bracket" role="button"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11">
                <div class="container-fluid">
                    <div class="row cardContainer">
                        <div class="col-md-4">
                            <div class="card w-100">
                                <div class="card-body d-flex flex-row">
                                    <div class="icon fs-1 me-3">
                                        <i class="fa-solid fa-chart-pie"></i>
                                    </div>
                                    <div class="content mt-3 ms-4">
                                        <p class="card-text">% of Last Question Attempt</p>
                                    </div>

                                    <div class="pieChart fs-1 ms-auto">
                                        <i class="fa-solid fa-chart-pie text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card w-100">
                                <div class="card-body d-flex flex-row">
                                    <div class="icon fs-1 me-3">
                                        <i class="fa-solid fa-chart-pie"></i>
                                    </div>
                                    <div class="content mt-3 ms-4">
                                        <p class="card-text">% of Last Question Attempt</p>
                                    </div>

                                    <div class="pieChart fs-1 ms-auto">
                                        <i class="fa-solid fa-chart-pie text-success"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card w-100">
                                <div class="card-body d-flex flex-row">
                                    <div class="icon fs-1 me-3">
                                        <i class="fa-solid fa-chart-pie"></i>
                                    </div>
                                    <div class="content mt-3 ms-4">
                                        <p class="card-text">% of Last Question Attempt</p>
                                    </div>

                                    <div class="pieChart fs-1 ms-auto">
                                        <i class="fa-solid fa-chart-pie text-warning"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row background">
                        <div class="col-md-5">
                            <textarea name="" id="" cols="90" rows="12" class="w-100 scrollbar"></textarea>
                            <button type="button" class="btn btn-outline-primary w-100">Primary</button>
                        </div>
                        <div class="col-md-3">
                            <div class="questions d-flex">
                                <p>
                                    Questions Available
                                </p>
                                <p class="ms-auto">
                                    Total Questions
                                </p>
                            </div>
                            <div class="progressBar">
                                <div class="progress mt-4">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <div class="progress mt-4">
                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <div class="progress mt-4">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <div class="progress mt-4">
                                    <div class="progress-bar" role="progressbar" style="width: 86%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <div class="progress mt-4">
                                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                            </div>
                        </div>
                        <div class="col-md-2 mt-2 writingButton1">
                            <button type="button" class="btn btn-secondary mt-2 d-block w-100">Write Exam 1</button>
                            <button type="button" class="btn btn-secondary mt-2 d-block w-100">Write Exam 2</button>
                            <button type="button" class="btn btn-secondary mt-2 d-block w-100">Write Exam 3</button>
                            <button type="button" class="btn btn-secondary mt-2 d-block w-100">Write Exam 4</button>
                            <button type="button" class="btn btn-secondary mt-2 d-block w-100">Write Exam 5</button>
                        </div>
                        <div class="col-md-2 mt-2 WritingButton">
                            <button type="button" class="btn btn-secondary mt-2 d-block w-100">Write Exam 1</button>
                            <button type="button" class="btn btn-secondary mt-2 d-block w-100">Write Exam 2</button>
                            <button type="button" class="btn btn-secondary mt-2 d-block w-100">Write Exam 3</button>
                            <button type="button" class="btn btn-secondary mt-2 d-block w-100">Write Exam 4</button>
                            <button type="button" class="btn btn-secondary mt-2 d-block w-100">Write Exam 5</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>